.homePage{
    //height: 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    background: rgb(93,61,100);
    background: linear-gradient(90deg, rgba(93,61,100,1) 0%, rgba(236,171,85,1) 80%, rgba(243,240,215,1) 100%);
}
.first-section {
    margin-top: 4em;
    height: 90vh;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 3em;
    padding-bottom: 5em;
    animation-name: entry;
    animation-duration: 1s;
}

@keyframes entry {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.first-section_paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;

}

.second-section{
    width: 95%;
    height: 85vh;
    border: 1px solid black;
    margin-bottom: 5em;
}

.third-section{
    width: 95%;
    height: 85vh;
    border: 1px solid black;
    margin-bottom: 5em;
}