.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $color_main;
}

.contact h1{
    margin-top: 3em;
}

#contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
    margin-top: 6em;
}

.contact div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}