.realisations{
    //height: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $color_main;
    
}

.realisation-card_section{
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 8em;
}

.realisation-card_container{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_main_2;
    padding-top: 6em;
    padding-bottom: 4em;
}

.realisation-card_container::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 7%;
    clip-path: polygon(100% 0,0 0,100% 50%);
    top: -1px;
    background: $color_main;
}

.realisation-card_container:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 7%;
    clip-path: polygon(100% 0,0 0,100% 50%);
    //clip-path: polygon(0 0,0 50%,100% 0);
    top: calc(100% - 1px);
    background: $color_main_2;
}

.realisation-card_container-mod{
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_main_2;
    padding-top: 6em;
    padding-bottom: 4em;
}

.realisation-card_container-mod::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 7%;
    clip-path: polygon(0 0,0 50%,100% 0);
    top: -1px;
    background: $color_main;
}

.realisation-card_container-mod:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    padding-bottom: 7%;
    clip-path: polygon(0 0,0 50%,100% 0);
    top: calc(100% - 1px);
    background: $color_main_2;
}